body {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: none;
    padding-right: 1%;
    background-color:grey ;
    color: black;
}

h1 {
    font-size: 250%;
    background-color:orange;
    color: grey;
}

h2 {
    margin: 2% 0;
    font-size: 200%; 
    color:rgb(78, 78, 228);
    text-align: left;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    font-size: 125%; 
}

nav a {
    color:  orange;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color:cornflowerblue;
}
